body {
  background-color: pink;
}

.article__section {
  display: flex;
  flex-wrap: wrap;
}

.article__image {
  grid-area: image;
  width: 100%;
  align-self: center;
}

.article__headline {
  grid-area: headline;
}

.article__description {
  grid-area: description;
}

.article__content {
  grid-area: content;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image image headline headline"
    "description description description description"
    "content content content content"
    "content content content content";

  max-width: 300px;
}
