body {
  background-color: #fceefa;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  font-family: inherit;
}

.query__submit {
  border: none;
  padding: 0.2rem 1rem;
  background-color: #e0bfda;
}

.banner {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6cfdb;
}

.article__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12vh;
}

.article__image {
  grid-area: image;
  width: 100%;
  align-self: center;
}

.article__headline {
  grid-area: headline;
  padding-left: 0.3rem;
}

.article__description {
  grid-area: description;
  margin: 0.2rem 0;
  text-align: justify;
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
}

.article__content {
  grid-area: content;
  margin: 0.2rem 0;
  text-align: justify;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
  max-height: 7rem;
  overflow-y: hidden;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "headline headline headline headline"
    "image image image image"
    "description description description description"
    "content content content content"
    "content content content content";

  max-width: 300px;
  padding: 1rem;
  background: #fbe5f7;
  box-shadow: 0 1rem 1rem #ae95aa;
  margin: 1rem;
}
@media screen and (max-width:600px){
  .banner {
    flex-direction: column;
   justify-content: flex-start;
    height: 11vh;
  }
  .banner__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin:0;    
  }
}