body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.article__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article__image {
  grid-area: image;
  width: 100%;
  align-self: center;
}

.article__headline {
  grid-area: headline;
  padding-left: 0.3rem;
}

.article__description {
  grid-area: description;
  margin: 0.2rem 0;
  text-align: justify;
}

.article__content {
  grid-area: content;
  margin: 0.2rem 0;
  text-align: justify;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image image headline headline"
    "description description description description"
    "content content content content"
    "content content content content";

  max-width: 300px;
  padding: 1rem;
}
